{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block page_independent_content %}
	
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><strong><span style='font-size: 48px; font-family: "Times New Roman", serif; color: #055D7A;'><em>Tasks Directory</em></span></strong></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><strong><span style='font-size: 20px; font-family: "Times New Roman", serif;'>with upcoming schedules and Infos ...</span></strong></p>
	<br><br>
	
	<table class="table table-hover table-responsive">
		<thead>
		<tr>
			<th scope="col"><h5 style="color: #055D7A">Task Details</h5></th>
		</tr>
		</thead>
		<tbody class="table-group-divider" style="color: #055D7A">
		
		<tr>
			<td>
				{% if task.completed %}


					<h5 style="font-family: 'Times New Roman', sans-serif; opacity: 30%">{{ task.title }}</h5>
					<small style="opacity: 30%">Scheduled on: {{ task.assign_date }}</small><br>
					<small style="opacity: 30%">Categories:
						{% for i in task.category.all %}
							<small>{{ i.name }},</small>
						{% endfor %}
					</small>
					<br>
					<small style="opacity: 30%">Task status:
						{% if task.completed %}
							<small>Done</small>
						{% else %}
							<small>Scheduled</small>
						{% endif %}
					</small>
					<p style="font-style: italic; opacity: 30%">{{ task.description }}</p>


				{% else %}


					<h5 style="font-family: 'Times New Roman', sans-serif">{{ task.title }}</h5>
					<small>Scheduled on: {{ task.assign_date }}</small><br>
					<small>Categories:
						{% for i in task.category.all %}
							<small>{{ i.name }},</small>
						{% endfor %}
					</small><br>
					<small>Task status:
						{% if task.completed %}
							<small>Done</small>
						{% else %}
							<small>Scheduled</small>
						{% endif %}
					</small>

					<p style="font-style: italic">{{ task.description }}</p>


				{% endif %}

			</td>
		</tr>
		</tbody>
	</table>



	<div class="d-flex justify-content-center align-item-center">
		{% if not task.completed %}
			<a href="{% url 'show_task' task.id %}"><button type="button" class="btn btn-primary btn-sm" style="margin-right: 100px">Previous</button></a>
			<a href="{% url 'complete_task' task.id %}"><button type="button" class="btn btn-success btn-sm">Completed</button></a>
			<a href="{% url 'edit_task' task.id %}"><button type="button" class="btn btn-primary btn-sm" style="margin-right: 5px; margin-left: 5px">Edit</button></a>
			<a href="{% url 'delete_task' task.id %}"><button type="button" class="btn btn-danger btn-sm" style="margin: auto">Delete</button></a>
			<a href="{% url 'show_task' task.id %}"><button type="button" class="btn btn-primary btn-sm" style="margin-left: 100px">Next</button></a>
		{% else %}
			<a href="{% url 'delete_task' task.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
		{% endif %}
	</div>



{% endblock %}
