{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block page_independent_content %}
	
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><strong><span style='font-size: 48px; font-family: "Times New Roman", serif; color: #055D7A;'><em>Tasks Directory</em></span></strong></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><strong><span style='font-size: 20px; font-family: "Times New Roman", serif;'>with upcoming schedules and Infos ...</span></strong></p>
	<br><br>
	
	<table class="table table-hover table-responsive">
		<thead>
		<tr>
			<th scope="col"><h5 style="color: #055D7A">Tasks</h5></th>
			<th scope="col"><h5 style="color: #055D7A">Scheduled On</h5></th>
			<th scope="col"><h5 style="color: #055D7A">Categories</h5></th>
			<th scope="col"><h5 style="color: #055D7A">Status</h5></th>
			<th scope="col"><h5 style="color: #055D7A">Actions</h5></th>
		</tr>
		</thead>
		<tbody class="table-group-divider" style="color: #055D7A">
		
		{% for each in tasks %}
			
			<tr>
				<td>
					{% if each.completed %}
						<a href="{% url 'show_task' each.id %}"><h5 style="font-family: 'Times New Roman', sans-serif; opacity: 30%">{{ each.title }}</h5></a>
						<p style="font-style: italic; opacity: 30%">{{ each.description | truncatewords:8 }}</p>
					{% else %}
						<a href="{% url 'show_task' each.id %}"><h5 style="font-family: 'Times New Roman', sans-serif">{{ each.title }}</h5></a>
						<p style="font-style: italic">{{ each.description | truncatewords:8 }}</p>
					{% endif %}
				</td>
				<td>{{ each.assign_date }}</td>
				<td>
					{% for i in each.category.all %}
						<small>{{ i.name }}</small><br>
					{% endfor %}
				</td>
				<td>{% if each.completed %}
					<p>Done</p>
				{% else %}
					<p>Scheduled</p>
				{% endif %} </td>
				<td style="text-align: center">
					
					{% if not each.completed %}
						<a href="{% url 'complete_task' each.id %}"><button type="button" class="btn btn-success btn-sm">Completed</button></a>
						<a href="{% url 'edit_task' each.id %}"><button type="button" class="btn btn-primary btn-sm">Edit</button></a>
						<a href="{% url 'delete_task' each.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
					{% else %}
						<a href="{% url 'delete_task' each.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
					{% endif %}
				
				
				
				</td>
			</tr>
		
		{% endfor %}
		
		</tbody>
	</table>

{% endblock %}
